<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoteBoard.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoteBoard.Settings>
            <setting name="EnableDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoPaste" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAtWinStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWhenClickOutside" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableAlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseOnFocusLost" serializeAs="String">
                <value>False</value>
            </setting>
        </NoteBoard.Settings>
    </userSettings>
</configuration>